---
import ButtonGray from "../components/ButtonGray.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Indicadores - Innova SA">
  <div class="px-5 mx-auto max-w-screen-xl py-5">
    <main class="flex flex-col items-center justify-center gap-3">
      <h1 class="text-2xl font-bold text-gray-700 text-center">
        Indicadores para Innova SA
      </h1>
      <article class="max-w-sm bg-white rounded-lg shadow-sm">
        <img
          class="rounded-t-lg"
          src="https://flowbite.com/docs/images/blog/image-1.jpg"
          alt=""
          transition:name="hero-indicadores"
        />
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
            Indicadores
          </h5>
        </div>
      </article>
      <ButtonGray href="/"> Volver </ButtonGray>
    </main>
  </div></Layout
>
