---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { tableros_de_mando } from "../data.json";
---

<Layout title="Tableros de mando">
  <div class="px-5 mx-auto max-w-screen-xl py-5">
    <h1 class="text-center text-4xl font-bold text-gray-900 mb-5">
      Tableros de mando
    </h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
      {
        tableros_de_mando.map((item) => (
          <Card href={`tableros-de-mando/${item.slug}`} text={item.title} image={item.image} />
        ))
      }
    </div>
  </div>
</Layout>
